.content___r3DRA {
    flex: 1 1;
    overflow: auto;
    padding: var(--gap-max);
    color: var(--color-text);
    width: 100%;
    height: 100%
}

.content___r3DRA img {
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: contain
}

.content___ZxNf8 {
    flex: 1 1;
    overflow: auto;
    padding: var(--gap-max);
    color: var(--color-text)
}

.content___ZxNf8 p {
    white-space: pre-wrap
}

.itemPaper___ECUkb {
    border-radius: calc(var(--border-radius) * 1.5);
    padding: calc(var(--msh-spacing-unit) * 2);
    text-decoration: none
}

.itemPaper___ECUkb .fileIcon___UQWEV {
    padding: calc(var(--msh-spacing-unit) * 1)
}

.itemPaper___ECUkb .content___NYWHF {
    overflow: hidden
}

.itemPaper___ECUkb .content___NYWHF .caption___GjLgR {
    min-height: 20px
}

.itemImage___qpHjD {
    border-radius: calc(var(--border-radius) * 1.5);
    text-decoration: none;
    aspect-ratio: 1.13;
    width: 100%;
    position: relative;
    overflow: hidden
}

.itemImage___qpHjD .loading___VcXVp {
    height: 100%;
    padding-bottom: 34px
}

.itemImage___qpHjD .loading___VcXVp img {
    width: 28px;
    height: 28px
}

.itemImage___qpHjD img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.itemImage___qpHjD .errorMask___clwsW {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--msh-chat-input-image-error-bg);
    opacity: .2
}

.itemImage___qpHjD .desc___V50od {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: var(--msh-chat-input-image-bg);
    color: var(--text-secondary);
    width: 100%;
    padding: calc(var(--msh-spacing-unit) * 1) calc(var(--msh-spacing-unit) * 2);
    border-top: 1px solid var(--border-1)
}

.historyItem___PJP2b {
    padding: 0 calc(var(--msh-spacing-unit) * 4);
    width: 100%
}

.historyItem___PJP2b .groupTitle___irePU {
    font-weight: 700;
    padding: calc(var(--msh-spacing-unit) * 2);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px
}

.historyItem___PJP2b .contentBox___OrRSj {
    padding: calc(var(--msh-spacing-unit) * 3);
    cursor: pointer;
    margin-bottom: calc(var(--msh-spacing-unit) * 2);
    transition: all var(--animation-duration) var(--animation-transition);
    border-color: transparent
}

.historyItem___PJP2b .contentBox___OrRSj em {
    color: var(--main-1);
    font-style: normal
}

.historyItem___PJP2b .contentBox___OrRSj br {
    display: none
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt {
    justify-content: space-between
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .name___OEWak {
    padding-left: calc(var(--msh-spacing-unit) * .5);
    display: flex;
    align-items: center
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .name___OEWak img {
    width: 20px;
    height: 20px;
    border-radius: 100%
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .name___OEWak .defaultIcon___JnlfO {
    padding-left: 4px;
    font-size: 14px
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .name___OEWak .nameStr___X0eP7 {
    margin-left: 4px
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .name___OEWak .tag___BNlec {
    height: 22px;
    margin-right: calc(var(--msh-spacing-unit) * 2)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .searched___jC0Xk {
    font-weight: 600
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .time___BiTnc {
    display: block;
    flex-shrink: 0;
    padding-left: calc(var(--msh-spacing-unit) * 1)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx {
    display: none;
    padding-left: calc(var(--msh-spacing-unit) * 1)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx .actionBtn___OpJST {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx .actionBtn___OpJST .icon___S650t {
    font-size: 14px
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx .actionBtn___OpJST.delBtn___fCUyT {
    margin-left: calc(var(--msh-spacing-unit) * 2)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx .actionBtn___OpJST.delBtn___fCUyT .icon___S650t {
    color: var(--error-main)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .content___ig5dI {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .content___ig5dI br {
    display: none
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .refsWrap___rhysy .refItem___UGGzS {
    min-width: 140px;
    max-width: calc(50% - var(--msh-spacing-unit));
    flex: 1 1;
    background-color: transparent;
    transition: all .3s;
    border-color: var(--msh-chat-history-item-border)
}

.historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .refsWrap___rhysy .imageItem___G_CuZ {
    background-color: transparent;
    transition: all .3s;
    border-color: var(--msh-chat-history-item-border);
    width: calc((100% - 16px) / 3)
}

.historyItem___PJP2b .contentBox___OrRSj:hover {
    background-color: var(--msh-chat-history-itme-bg);
    border-color: var(--msh-chat-history-itme-bg);
    box-shadow: var(--msh-chat-list-file-shadow)
}

.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .refsWrap___rhysy .refItem___UGGzS,.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .refsWrap___rhysy .imageItem___G_CuZ {
    border-color: var(--msh-chat-history-item-border)
}

.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .refsWrap___rhysy .refItem___UGGzS:not(.no-preview):hover,.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .refsWrap___rhysy .imageItem___G_CuZ:not(.no-preview):hover {
    border-color: var(--msh-chat-history-item-border-hover)
}

.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .titleLine___dwqZt .time___BiTnc {
    display: none
}

.historyItem___PJP2b .contentBox___OrRSj:hover .contentContainer___hGhn8 .titleLine___dwqZt .actions___oPOPx {
    display: flex
}

@media (min-width: 600px) {
    .historyItem___PJP2b .groupTitle___irePU {
        font-size:24px;
        line-height: 34px
    }

    .historyItem___PJP2b .contentBox___OrRSj .contentContainer___hGhn8 .refsWrap___rhysy .imageItem___G_CuZ {
        width: calc((100% - 32px)/5);
        max-width: calc((100% - 32px)/5);
        min-width: calc((100% - 32px)/5)
    }
}

.historyModal___qTQKs {
    display: none
}

.historyModal___qTQKs.show___WthR7 {
    display: block
}

.historyModal___qTQKs .mark___l6N_v {
    min-width: 375px;
    overflow-x: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--msh-chat-history-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
}

.historyModal___qTQKs .closeBtn___oHhJS {
    position: fixed;
    top: calc(var(--msh-spacing-unit) * 2);
    left: calc(var(--msh-spacing-unit) * 5);
    background: var(--msh-chat-history-close-bg);
    z-index: 1050
}

.historyModal___qTQKs .closeBtn___oHhJS:hover {
    background: var(--msh-chat-history-close-bg-hover)
}

.historyModal___qTQKs .closeBtn___oHhJS .icon___AKlK1 {
    font-size: 24px;
    color: var(--msh-chat-history-btn-color)
}

.historyContainer___SeB_t {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 375px;
    overflow-x: auto;
    z-index: 1010
}

.historyContainer___SeB_t .chatHistory___EbmZH {
    overflow: auto
}

.historyContainer___SeB_t .chatHistory___EbmZH .deleteArea___o72HN {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999
}

.historyContainer___SeB_t .chatHistory___EbmZH .historyTitle___F_iam {
    font-weight: 700;
    text-align: center;
    padding: calc(var(--msh-spacing-unit) * 4) 0;
    font-size: 24px;
    line-height: 24px
}

.historyContainer___SeB_t .chatHistory___EbmZH .itemContainer___V43GG {
    margin: 0 auto;
    max-width: 792px
}

.historyContainer___SeB_t .chatHistory___EbmZH .itemContainer___V43GG .checkbox___LhI_V {
    padding-bottom: 20px;
    margin-top: auto
}

.historyContainer___SeB_t .chatHistory___EbmZH .itemContainer___V43GG .deleteMode___F_6zf {
    pointer-events: none
}

.historyContainer___SeB_t .chatHistory___EbmZH .deleteContainer___jizy_ {
    cursor: pointer
}

.historyContainer___SeB_t .chatHistory___EbmZH .placeholder___DAy06 {
    height: 76px
}

.historyContainer___SeB_t .chatHistory___EbmZH .outContainer___TvUCY {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 24px;
    padding: 12px calc(var(--msh-spacing-unit)*4) 0
}

.historyContainer___SeB_t .chatHistory___EbmZH .sticky___gC2M6 {
    position: absolute;
    top: 0;
    right: 2px;
    z-index: 20;
    background: var(--msh-chat-history-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px)
}

.historyContainer___SeB_t .chatHistory___EbmZH .sticky___gC2M6 .inputContainer___EVl6c {
    padding: 8px 16px
}

.historyContainer___SeB_t .chatHistory___EbmZH .sticky___gC2M6 .inputContainer___EVl6c .closeArea___rNugK {
    height: 40px
}

.historyContainer___SeB_t .chatHistory___EbmZH .inputContainer___EVl6c {
    position: relative;
    display: flex;
    max-width: 760px;
    width: 100%;
    background: var(--msh-chat-input-inner);
    border: 1px solid var(--msh-chat-input-border);
    padding: 16px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary)
}

.historyContainer___SeB_t .chatHistory___EbmZH .inputContainer___EVl6c .closeArea___rNugK {
    position: absolute;
    width: 40px;
    height: 56px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.historyContainer___SeB_t .chatHistory___EbmZH .inputContainer___EVl6c .icon___AKlK1 {
    font-size: 16px;
    margin-right: 8px
}

.historyContainer___SeB_t .chatHistory___EbmZH .inputContainer___EVl6c input {
    border: none;
    background: var(--msh-chat-input-inner);
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary)
}

.historyContainer___SeB_t .chatHistory___EbmZH .inputContainer___EVl6c input:focus {
    outline: none
}

.historyContainer___SeB_t .chatHistory___EbmZH .historyMain___ZQw_i {
    height: calc(100% - 160px)
}

.historyContainer___SeB_t .chatHistory___EbmZH .empty___mksck {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.historyContainer___SeB_t .chatHistory___EbmZH .empty___mksck .button___cKTA9 {
    margin: 24px 0 48px;
    width: 200px
}

@media (min-width: 600px) {
    .historyContainer___SeB_t .chatHistory___EbmZH .historyTitle___F_iam {
        font-size:36px;
        line-height: 50px
    }
}

.helperText___Fa_zw {
    position: absolute;
    bottom: -20px;
    left: var(--msh-spacing-unit);
    margin: 0
}

.TargetBox___wtHL5 {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 375px;
    min-height: 460px;
    display: none
}

.TargetBox___wtHL5.DropBox____hfLi {
    z-index: 999;
    display: block;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding: 40px 30px
}

.TargetBox___wtHL5 .inner___lep5B {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px dashed var(--border-2)
}

.TargetBox___wtHL5 .drop_area___MA23Y {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 635px
}

.TargetBox___wtHL5 .drop_area___MA23Y img {
    width: 126px
}

.TargetBox___wtHL5 .drop_area___MA23Y .title___qtFnk {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: var(--text-primary)
}

.TargetBox___wtHL5 .drop_area___MA23Y .desc___XjcGo {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-secondary)
}

.login-pop-layout {
    height: 140px;
    padding-top: 28px
}

.login-pop-layout_writer {
    margin: 0;
    height: 42px;
    line-height: 42px
}

.login-pop-layout_writer span {
    font-size: 30px
}

@media (max-width: 600px) {
    .login-pop-layout {
        height:84px;
        padding-top: 13px
    }

    .login-pop-layout_writer {
        height: 29px;
        line-height: 29px
    }

    .login-pop-layout_writer span {
        font-size: 24px
    }
}

.authContainer___sdOFY {
    min-width: 375px
}

.authContainer___sdOFY .header___zjsk2 {
    height: 68px
}

.authContainer___sdOFY .container___pA0Wc {
    padding: 0 calc(var(--msh-spacing-unit) * 4);
    flex: 1 1
}

.authContainer___sdOFY .container___pA0Wc .content___XV6w1 {
    max-width: 636px;
    width: 100%;
    overflow: hidden;
    border-radius: calc(var(--border-radius) * 2.5);
    border: 1px solid var(--border-1)
}

.authContainer___sdOFY .container___pA0Wc .content___XV6w1 .top___N9wca {
    height: 84px;
    background: var(--msh-chat-login-content-top-bg)
}

.authContainer___sdOFY .container___pA0Wc .content___XV6w1 .top___N9wca .textBox___L34Ov {
    position: relative;
    top: 4px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700
}

.authContainer___sdOFY .footer___LOQIe {
    height: 56px
}

@media (min-width: 600px) {
    .authContainer___sdOFY .container___pA0Wc .content___XV6w1 .top___N9wca {
        height:128px
    }

    .authContainer___sdOFY .container___pA0Wc .content___XV6w1 .top___N9wca .textBox___L34Ov {
        font-size: 32px;
        line-height: 48px
    }
}

.phoneLogin___SacG7 {
    min-height: 230px
}

.phoneLogin___SacG7 .loginLayout___K4i5U {
    display: flex;
    flex-direction: row
}

.phoneLogin___SacG7 .loginLayout___K4i5U .loginLayoutLeft___fUj6Z {
    flex: 1 1
}

.phoneLogin___SacG7 .loginLayout___K4i5U .loginLayoutRight___crLwH {
    width: 174px;
    height: 260px;
    border-left: 1px solid var(--border-main);
    margin-left: 24px;
    padding-left: 24px
}

.phoneLogin___SacG7 .loginLayout___K4i5U .loginLayoutRight___crLwH .loginLayoutRightTitle___DdOwK {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    line-height: 25px
}

.phoneLogin___SacG7 .loginLayout___K4i5U .loginLayoutRight___crLwH .loginLayoutRightQR___NfrMC {
    margin-top: 23px
}

.phoneLogin___SacG7 .controlLayout___dgRlA {
    display: flex;
    justify-content: center;
    margin-top: 24px
}

.phoneLogin___SacG7 .controlLayout___dgRlA a {
    font-weight: 700
}

.phoneLogin___SacG7 .lable___VHyw6 {
    margin-bottom: 24px
}

.phoneLogin___SacG7 .lable___VHyw6 span {
    font-size: var(--font-size-md);
    font-weight: 700
}

.phoneLogin___SacG7 .item___rJfSj {
    position: relative
}

.phoneLogin___SacG7 .itemHelper___DbmPN {
    height: 20px;
    margin-bottom: 4px
}

.phoneLogin___SacG7 .verify___P7vR9 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 102px;
    height: 25px
}

.phoneLogin___SacG7 .verify___P7vR9 .divider___iCjot {
    height: 12px
}

.phoneLogin___SacG7 .agreeText___EUMp4 {
    font-size: 12px;
    color: var(--text-secondary)
}

.phoneLogin___SacG7 .checkbox___K3VQG {
    padding: calc(var(--msh-spacing-unit) * .5);
    margin-right: var(--msh-spacing-unit)
}

.phoneLogin___SacG7 .checkbox___K3VQG:not(.checked___Vjy9T) {
    color: var(--text-secondary)
}

.phoneLogin___SacG7 .checkbox___K3VQG .MuiSvgIcon-root {
    font-size: 20px
}

@media (min-width: 600px) {
    .phoneLogin___SacG7 {
        min-height:335px
    }

    .phoneLogin___SacG7 .verify___P7vR9 {
        width: 112px;
        height: 25px
    }

    .phoneLogin___SacG7 .verify___P7vR9 .divider___iCjot {
        height: 20px
    }

    .phoneLogin___SacG7 .agreeText___EUMp4 {
        font-size: 14px
    }
}

.geetest_captcha .geetest_box,.geetest_captcha .geetest_header,.geetest_captcha .geetest_container,.geetest_captcha .geetest_footer {
    background: var(--msh-paper-bg)
}

.geetest_captcha .geetest_backimg>div {
    transition: all .3s!important
}

.geetest_captcha .geetest_header .geetest_title {
    color: var(--text-primary)!important
}

.geetest_captcha .geetest_header .geetest_status_bar {
    background-color: var(--primary-main)!important
}

.geetest_captcha .geetest_btn {
    background-color: var(--primary-main)!important;
    background-image: none!important
}

.geetest_captcha .geetest_footer_right {
    display: none
}

.geetest_captcha .geetest_feedback {
    display: none!important
}

.qrcodeLogin___SyLo_ .agreementLink___edm8P {
    font-family: PingFang SC;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #333a4b
}

.qrcodeLogin___SyLo_ a {
    text-decoration: underline
}

.qrcodeLogin___SyLo_ iframe {
    height: 280px
}

.qrcodeLogin___SyLo_ .loginContainer___IFXUE {
    height: 260px;
    text-align: center
}

@media (min-width: 600px) {
    .qrcodeLogin___SyLo_ {
        position:relative
    }

    .qrcodeLogin___SyLo_ iframe {
        height: 230px;
        transform: scale(.75);
        left: -74px;
        top: -17px;
        position: absolute
    }
}

.qrcodeLayout___EPXGC {
    border: 1px solid #e2e2e2;
    width: 150px;
    height: 150px;
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.qrcodeLayout___EPXGC svg,.qrcodeLayout___EPXGC img {
    padding: 0
}

.miniprogram___Tq8lH {
    min-height: 276px
}

.miniprogram___Tq8lH .qrcode___COQ_n {
    padding: 4px;
    border-radius: var(--lg, 16px);
    background: #FFF
}

.miniprogram___Tq8lH .text___PTnsz {
    color: var(--text-secondary)
}

.miniprogram___Tq8lH .button___UpYHJ {
    padding: 8px;
    margin: 9px auto 0;
    width: 100%;
    text-transform: none
}

.loginContainer___SoCmh .title___n_X10 {
    font-size: var(--font-size-md);
    font-weight: var(--font-bold);
    margin-bottom: 24px
}

.authModal___AXYNS {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    background: rgba(255,0,0,.034);
    min-width: 375px;
    background: var(--msh-modal-bg);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px)
}

.authModal___AXYNS .header___LrmZG {
    height: 68px
}

.authModal___AXYNS .container___HvNfq {
    padding: 0 calc(var(--msh-spacing-unit) * 4);
    flex: 1 1
}

.authModal___AXYNS .container___HvNfq .content___axoSN {
    max-width: 636px;
    width: 100%;
    overflow: hidden;
    border-radius: calc(var(--border-radius) * 2.5);
    border: 1px solid var(--border-1)
}

.authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE {
    height: 84px;
    background: var(--msh-chat-login-content-top-bg);
    padding: 0 0 0 16px
}

.authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE.dark___u9VpT {
    background: var(--msh-chat-login-content-top-bg) url(./static/top_bg_dark.b4029bd6.png) no-repeat right center / 107% auto
}

.authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE.light___MyIl_ {
    background: var(--msh-chat-login-content-top-bg) url(./static/top_bg_light.ba34373a.png) no-repeat right center / 107% auto
}

.authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE .textBox___QemLf {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700
}

.authModal___AXYNS .container___HvNfq .content___axoSN .loginContent___Oy5xD {
    padding: calc(var(--msh-spacing-unit) * 4) calc(var(--msh-spacing-unit) * 4) calc(var(--msh-spacing-unit) * 8)
}

.authModal___AXYNS .footer___Quejz {
    height: 56px
}

@media (min-width: 600px) {
    .authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE {
        height:140px;
        padding: 0 0 0 32px
    }

    .authModal___AXYNS .container___HvNfq .content___axoSN .top___IIjeE .textBox___QemLf {
        font-size: 32px;
        line-height: 48px
    }

    .authModal___AXYNS .container___HvNfq .content___axoSN .loginContent___Oy5xD {
        padding: calc(var(--msh-spacing-unit) * 6 - 1px) calc(var(--msh-spacing-unit) * 10) calc(var(--msh-spacing-unit) * 8)
    }
}

.concurrentTip___tAc_q {
    width: 100vw;
    height: 56px;
    padding: calc(var(--msh-spacing-unit) * 2);
    color: var(--text-primary);
    background: var(--msh-chat-hard-tip-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    text-align: center;
    position: relative;
    z-index: 1000
}

.concurrentTip___tAc_q .placehokder___eTr1A {
    width: 24px
}

.concurrentTip___tAc_q .icon___q_Mc6 {
    font-size: 24px;
    cursor: pointer
}

@media (min-width: 600px) {
    .concurrentTip___tAc_q {
        height:36px
    }
}

.back___uyBkH {
    position: absolute;
    z-index: 3
}

.back-button___X1mhz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 0 16px 1px #0000001f;
    cursor: pointer
}

.svg____hjRy {
    user-select: none;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    flex-shrink: 0;
    transition: fill .2s cubic-bezier(.4,0,.2,1) 0ms;
    font-size: 24px;
    color: #000
}

.isDone___a6OpJ {
    top: 10px;
    left: 20px
}

.notDone___sLy_H {
    top: 40px;
    left: 60px
}

.noteCover___fbx0j {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    z-index: 1
}

.noteContainer___zTufb {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    width: 360px;
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #141414;
    box-shadow: 0 3px 6px -4px #0000001f,0 6px 16px #00000014,0 9px 28px 8px #0000000d
}

.title___uwQTm {
    font-weight: 600;
    font-size: 16px
}

.titleContainer___NXjcT {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: nowrap
}

.note___xqq01 {
    font-size: 20px;
    color: inherit;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    flex-shrink: 0;
    transition: fill .2s cubic-bezier(.4,0,.2,1) 0ms;
    outline: none
}

.content___PkM0Z {
    padding-left: 34px;
    margin-bottom: 28px
}

.buttonContainer___V7PpB {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px
}

.wait___lKMrO {
    height: 30px;
    width: 86px;
    padding: 4px 15px;
    border-radius: 4px;
    border-color: #9c5eff;
    background: #9c5eff
}

.wait___lKMrO:hover {
    color: #fff!important;
    border-color: #9c5eff!important;
    background: #9c5eff!important
}

.escape___eBuxJ {
    height: 30px;
    width: 86px;
    padding: 4px 15px;
    border-radius: 4px;
    border-color: #8c8c8c;
    color: #8c8c8c;
    background-color: #fff
}

.escape___eBuxJ:hover {
    border-color: #8c8c8c!important;
    color: #8c8c8c!important;
    background: #fff!important
}

.AiPPTContainer____jYnI {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.previewImg___dv1wT {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 16/9
}

.selectTemplateBtn___I5qZU {
    background: linear-gradient(277.33deg,#8948EB 8.02%,#9D5EFB 87.79%);
    border: 1px solid #B182F7CC;
    height: 38px;
    padding: 8px 15px;
    gap: 4px;
    border-radius: 10px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .25px;
    text-align: left;
    color: #f5f9fff2;
    transition: all var(--animation-duration) var(--animation-timing-function)
}

.selectTemplateBtn___I5qZU:hover {
    opacity: .6
}

.AiPPT___LEp5b {
    width: 100%;
    height: 100%
}

.contentContainer___Ip8di {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.buttonContainer___njQSq {
    display: flex;
    gap: 8px
}

.downloadButton___i0R3X {
    min-width: 88px;
    padding: 10px 15px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .25px;
    text-align: center;
    box-sizing: border-box
}

.selectTemplateIcon___ySbP9 {
    font-size: 20px
}

.canPreviewPPT___HMyMX {
    cursor: pointer
}

.idn___ei_6X {
    width: 144px;
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0
}

.globalCoverContainer___xppUn {
    position: fixed;
    z-index: 1200
}

.myAgentAnim .myAgentBoxHide {
    height: 0;
    opacity: 0;
    animation: hides .2s ease 1;
    margin-bottom: 0
}

@keyframes hides {
    0% {
        height: 40px;
        margin-bottom: 12px;
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        height: 0;
        opacity: 0;
        margin-bottom: 0
    }
}

.login____RTRY {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    background-color: var(--msh-chat-avatar-me-bg);
    color: var(--common-white)
}

.img____tAMC {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden
}

.rightLogin___zH_dI {
    position: absolute;
    top: calc(var(--msh-spacing-unit) * 2);
    right: calc(var(--msh-spacing-unit) * 5);
    cursor: pointer
}

.user___ias7U {
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    background-color: var(--msh-chat-avatar-me-bg);
    color: var(--common-white)
}

.container___vDmoU .title___OAgk1 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container___vDmoU .input___OqEA0 {
    margin-top: 16px
}

.container___vDmoU .input___OqEA0 .MuiInputBase-input {
    font-size: 14px
}

.container___vDmoU .rates___ZMsXL .rate___CJOsg {
    padding: calc(2 * var(--msh-spacing-unit));
    border-radius: 8px;
    background: var(--msh-chat-fb-rate-bg);
    cursor: pointer;
    transition: all .3s
}

.container___vDmoU .rates___ZMsXL .rate___CJOsg.select___jH0fx {
    background: var(--primary-main)
}

.container___vDmoU .rates___ZMsXL .rate___CJOsg .icon___bgc06 {
    width: 28px;
    height: 28px;
    background-size: 100% 100%;
    margin: 0 auto
}

.container___vDmoU .footer___pcgJU {
    display: flex;
    justify-content: flex-end;
    gap: 8px
}

.avatarWidget___es3ap {
    color: var(--msh-chat-history-btn-color)
}

.avatarMenu___AvTWm {
    position: absolute;
    left: 52px
}

.avatarMenu___AvTWm .MuiMenuItem-root {
    height: 44px;
    padding: 16px 8px;
    gap: 16px
}

.avatarMenu___AvTWm .MuiMenu-list {
    width: 138px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    border-radius: 8px
}

.modalContainer___r5ELB {
    position: absolute;
    bottom: -78px;
    left: 64px;
    width: 324px;
    padding: 20px;
    border: 1px solid var(--msh-chat-user-guide-border);
    border-radius: 12px;
    background: var(--msh-chat-user-guide-background);
    display: flex;
    gap: 8px;
    flex-direction: column;
    box-shadow: 0 8px 25px #0000000d;
    z-index: 1;
    transition: all var(--animation-duration) var(--animation-transition)
}

.title___JHNgc {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left
}

.contentContainer___upoSi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    gap: 8px;
    cursor: pointer
}

.img___w6qsW {
    cursor: default;
    width: 40px!important;
    height: 40px!important
}

.content___fRrYf {
    width: 129px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px
}

.content___fRrYf>div {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .25px;
    text-align: left
}

.visible___E55gr {
    opacity: 1
}

.hide___uahw2 {
    opacity: 0;
    pointer-events: none
}

.loginButton___3vHl4 {
    font-size: 16px;
    margin-top: 6px;
    padding: 6px 24px
}

.myAgent___djnd_ {
    width: 60px;
    display: flex;
    background-color: var(--color-bg-1);
    flex-direction: column;
    align-items: center;
    padding: 14px 0 1px;
    border-radius: 12px;
    transition: all .3s ease;
    box-shadow: 0 3px 6px -4px #0000001f,0 6px 16px #00000014,0 9px 28px 8px #0000000d;
    transform: all ease .3s
}

.myAgent___djnd_.en___Q96DA .myAgentHome___PG6IZ:after {
    content: "Go Back"
}

.myAgent___djnd_.en___Q96DA .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:after {
    content: "New Chat"
}

.myAgent___djnd_.en___Q96DA .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:after {
    content: "History"
}

.myAgent___djnd_.en___Q96DA .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:after {
    content: "Kimi+"
}

.myAgent___djnd_ .myAgenetPreload___BWFdc {
    width: 0;
    height: 0;
    overflow: hidden
}

.myAgent___djnd_ .myAgentHome___PG6IZ:after {
    width: 73px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    /*content: "\56de\5230\9996\9875";*/
    position: absolute;
    left: 64px;
    display: none;
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    animation: show___PuZhP .3s ease 1;
    color: #f5f9fff2;
    margin-top: 2px
}

.myAgent___djnd_ .myAgentHome___PG6IZ {
    width: 32px;
    height: 32px;
    background: url('../../../assets/images/icon-logo.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    margin-bottom: 16px
}

.myAgent___djnd_ .myAgentHome___PG6IZ:hover:after {
    display: block
}

.myAgent___djnd_ .myAgentHome___PG6IZ img {
    width: 100%
}

.myAgentLine___Isl6E {
    width: 24px;
    height: 1px;
    background-color: #f0f0f0;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer
}

.myAgent___djnd_ .myAgentLine0___AeBRd {
    margin-top: 8px
}

.myAgent___djnd_ .myAgentTool___Y1_mC {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIcon___gaAKI {
    width: 40px;
    height: 40px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIcon___gaAKI img {
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0
}
.myAgentToolIcon___gaAKI:hover{
    background-color: #f0f0f0;
    border-radius: 12px;
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:after {
    width: 87px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    content: "开启新会话";
    position: absolute;
    left: 54px;
    display: none;
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    animation: show___PuZhP .3s ease 1;
    color: #f5f9fff2;
    margin-top: 6px
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW {
    background-size: 24px;
    background-image: url(./../../../assets/images/talk.svg);
    background-position: 8px 8px;
    color: var(--color-text-1)
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:hover {
    background-image: none
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:hover:after {
    display: block
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:hover img {
    opacity: 1
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:after {
    width: 73px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    content: "历史会话";
    position: absolute;
    left: 54px;
    display: none;
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    animation: show___PuZhP .3s ease 1;
    color: #f5f9fff2;
    margin-top: 6px
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk {
    background-size: 24px;
    background-image: url(./../../../assets/images/history.png);
    background-position: 8px 8px;
    color: var(--color-text-1)
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:hover {
    background-image: none;
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:hover:after {
    display: block
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:hover img {
    opacity: 1;
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:after {
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    content: "SmartAl+";
    position: absolute;
    left: 54px;
    display: none;
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    animation: show___PuZhP .3s ease 1;
    color: #f5f9fff2;
    margin-top: 6px;
    z-index: 1
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_ {
    background-size: 24px;
    background-image: url(./../../../assets/images/agent.svg);
    background-position: 8px 8px;
    color: var(--color-text-1)
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:hover {
    background-image: none;
    color: var(--msh-chat-icon-color)
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:hover:after {
    display: block
}

.myAgent___djnd_ .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:hover img {
    opacity: 1
}

.myAgent___djnd_ .myAgentToolSquare___dbLm1 {
    margin-bottom: 16px
}

.myAgent___djnd_ .myAgentTool___Y1_mC:hover {
    background-color: var(--nav-bg)
}

.myAgent___djnd_ .myAgentBox___zrCit {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show___PuZhP .35s cubic-bezier(.4,0,.2,1) 1,apper___Fwe2E .15s cubic-bezier(.4,0,.2,1) 1;
    transform: all cubic-bezier(.4,0,.2,1) .3s;
    position: relative
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e {
    width: 100%;
    height: 100%;
    transition: all .15s;
    position: relative
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgLayout___u69B_ {
    position: relative
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgLayout___u69B_ div {
    width: 100%;
    height: 100%
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgLayout___u69B_ .myAgentBoxImgLayoutTip___xHV4m {
    border-radius: 8px;
    border: .5px solid #13131A;
    height: 28px;
    line-height: 28px;
    background: #010101;
    font-size: 14px;
    color: #fff;
    transform: scale(.8)!important;
    transform-origin: 0 50%;
    padding: 0 8px;
    position: absolute;
    left: 44px;
    top: 2px;
    white-space: nowrap;
    display: none;
    animation: show___PuZhP .25s ease 1
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgLayout___u69B_ img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    transition: all .15s
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgLayout___u69B_:hover .myAgentBoxImgLayoutTip___xHV4m {
    display: block
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgDelete___qXZuq {
    width: 9.6px;
    height: 9.6px;
    background-color: #ed4245;
    border-radius: 100%;
    position: absolute;
    right: -2px;
    bottom: -2px;
    border: 2px solid var(--fill-9);
    box-sizing: content-box;
    transition: opacity .15s;
    opacity: 0
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgDelete___qXZuq .myAgentBoxImgDeleteInner____Hawc {
    border-radius: 8px;
    border: .5px solid #13131A;
    width: 102px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #010101;
    font-size: 14px;
    color: #fff;
    transform: scale(.8)!important;
    position: absolute;
    left: 11px;
    top: -21px;
    display: none;
    animation: show___PuZhP .35s ease 1
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgDelete___qXZuq:after {
    display: block;
    content: "";
    width: 6.4px;
    height: 1.6px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e .myAgentBoxImgDelete___qXZuq:hover .myAgentBoxImgDeleteInner____Hawc {
    display: block
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e:hover {
    transform: scale(1.25)
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e:hover img {
    border-radius: 10px!important
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e:hover+.myAgentBoxName___mZ6v6 {
    display: block
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxImg___Mgu9e:hover .myAgentBoxImgDelete___qXZuq {
    opacity: 1
}

.myAgent___djnd_ .myAgentBox___zrCit .myAgentBoxName___mZ6v6 {
    position: absolute;
    width: auto;
    white-space: nowrap;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    animation: show___PuZhP .3s ease 1;
    color: #f5f9fff2;
    padding: 4px 8px;
    z-index: 100;
    display: none
}

.myAgent___djnd_ .myAgentHead___WYY8b {
    width: 40px;
    height: 40px;
    position: relative;
    transform: scale(.8)
}

.myAgent___djnd_ .myAgentHead___WYY8b div:nth-child(1) {
    left: 0;
    top: 0
}

.myAgent___djnd_ .downloads___VOhKO {
    margin-top: 11px
}

.myAgent___djnd_ .myAgentDownload___FAlpz {
    cursor: pointer;
    background-color: var(--nav-download);
    width: 56px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.myAgent___djnd_ .myAgentDownload___FAlpz:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px
}

.myAgent___djnd_ .myAgentDownload___FAlpz .myAgentDownloadLayout___pEYRP {
    width: 158px;
    height: 206px;
    border-radius: 12px;
    position: absolute;
    background-color: var(--nav-download);
    box-shadow: var(--nav-shadow);
    left: 64px;
    bottom: 0;
    display: none;
    animation: show___PuZhP .3s ease 1
}

.myAgent___djnd_ .myAgentDownload___FAlpz .myAgentDownloadLayout___pEYRP img {
    width: 126px;
    height: 126px;
    margin: 16px 16px 2px
}

.myAgent___djnd_ .myAgentDownload___FAlpz .myAgentDownloadLayout___pEYRP p {
    color: var(--text-2);
    text-align: center;
    line-height: 20px;
    margin: 0;
    padding: 0
}

.myAgent___djnd_ .myAgentDownload___FAlpz:hover .myAgentDownloadLayout___pEYRP {
    display: block
}


.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:hover {
    background-image: none
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconNew___DBZrW:hover img {
    opacity: 1
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk {
    /*background-image: url(./static/history_light.5dbe9ec9.svg)*/
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:hover {
    background-image: none
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconHistory___GTLWk:hover img {
    opacity: 1
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_ {
    /*background-image: url(./static/square_light.e46b6e7c.svg)*/
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:hover {
    background-image: none
}

.myAgentlight___yK7Gk .myAgentTool___Y1_mC .myAgentToolIconSquare___Rj1o_:hover img {
    opacity: 1
}

@keyframes show___PuZhP {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes apper___Fwe2E {
    0% {
        height: 0
    }

    to {
        height: 32px
    }
}

.tooltip___GZ1MZ .msh-tooltip-inner {
    padding: 2px 8px;
    margin-left: 2px;
    line-height: 28px;
    font-size: 14px;
    letter-spacing: .25px;
    background: #010101;
    border-radius: 8px;
    color: #f5f9fff2
}

.myAgentHeadLayout___mhwZk {
    cursor: pointer
}

.layoutNav___jOCfX {
    height: 100%;
    position: relative;
    transition: width .2s ease;
    background-color: transparent
}

.layoutNav___jOCfX .layoutNavMove___j5ets {
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    z-index: 101
}

.layoutNav___jOCfX .layoutNavHot___Gmi0A {
    width: 96px;
    height: 100%
}

.layoutNav___jOCfX .layoutNavLine___qEtli {
    width: 12px;
    height: 26px;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s ease
}

.layoutNav___jOCfX .layoutNavLine___qEtli .layoutNavLine0___fDuov {
    width: 4px;
    height: 13px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--fill-11);
    left: 4px;
    top: 0;
    position: absolute;
    transition: all .2s ease;
    transform-origin: 50% 0
}

.layoutNav___jOCfX .layoutNavLine___qEtli .layoutNavLine1___hkrSK {
    width: 4px;
    height: 13px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--fill-11);
    left: 4px;
    bottom: 0;
    position: absolute;
    transition: all .2s ease;
    transform-origin: 50% 100%
}

.layoutNav___jOCfX .layoutNavLine___qEtli:after {
    opacity: 0;
    width: 45px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    border-radius: 8px;
    border: .5px solid #13131A;
    background: #010101;
    box-shadow: 0 0 2px #00000040,0 0 1px 1px #fff3 inset;
    color: #f5f9fff2;
    left: 18px;
    animation: show___TmKCq .3s ease 1
}

.logo___VUcPA {
    width: 32px;
    height: 32px;
    left: 16px;
    top: 12px;
    position: absolute;
    z-index: 500
}

.logo___VUcPA .logoIcon___eee_3 {
    width: 100%;
    height: 100%;
    cursor: pointer
}

.logo___VUcPA .navBox___ntiEy {
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000
}

.logo___VUcPA .navContent___JDGQF {
    position: absolute;
    z-index: 1000
}

.en___d3BPh.layoutNavShow___NrDNn .layoutNavLine___qEtli:hover:after {
    content: "Collapse"
}

.en___d3BPh.layoutNavHide___cXSjg .layoutNavLine___qEtli:hover:after {
    content: "Expand"
}

.layoutNavShow___NrDNn {
    width: 68px;
    z-index: 1030
}

.layoutNavShow___NrDNn .layoutNavLine___qEtli {
    opacity: 0
}

.layoutNavShow___NrDNn:hover .layoutNavLine___qEtli,.layoutNavShow___NrDNn .layoutNavHot___Gmi0A:hover .layoutNavLine___qEtli {
    opacity: 1
}

.layoutNavShow___NrDNn .layoutNavLine___qEtli:hover:after {
    content: "\6536\8d77";
    opacity: 1
}

.layoutNavShow___NrDNn .layoutNavLine___qEtli:hover .layoutNavLine0___fDuov {
    background-color: var(--fill-12);
    transform-origin: 50% 0%;
    transform: rotate(17deg) translateY(1px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 10px;
    height: 16px
}

.layoutNavShow___NrDNn .layoutNavLine___qEtli:hover .layoutNavLine1___hkrSK {
    background-color: var(--fill-12);
    transform-origin: 50% 100%;
    transform: rotate(-17deg) translateY(-1px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 10px;
    height: 16px
}

.layoutNavHide___cXSjg {
    width: 0px;
    z-index: 1030
}

.layoutNavHide___cXSjg .layoutNavMove___j5ets {
    right: 0
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli {
    right: -25px
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli .layoutNavLine0___fDuov {
    transform-origin: 50% 0%;
    transform: rotate(-17deg) translateY(1px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 10px;
    height: 16px
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli .layoutNavLine1___hkrSK {
    transform-origin: 50% 100%;
    transform: rotate(17deg) translateY(-1px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 10px;
    height: 16px
}

.layoutNavHide___cXSjg .layoutNavHot___Gmi0A {
    width: 20px
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli:hover:after {
    content: "\5c55\5f00";
    opacity: 1
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli:hover .layoutNavLine0___fDuov {
    background-color: var(--fill-12);
    transform-origin: 50% 0%;
    transform: rotate(-17deg) translateY(1px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 10px;
    height: 16px
}

.layoutNavHide___cXSjg .layoutNavLine___qEtli:hover .layoutNavLine1___hkrSK {
    background-color: var(--fill-12);
    transform-origin: 50% 100%;
    transform: rotate(17deg) translateY(-1px);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 10px;
    height: 16px
}

.mainContent___vvQdb {
    height: 100%;
    display: flex;
    background-color: var(--nav-layout)
}

.mainContent___vvQdb.busy___Gqbrv {
    height: calc(100% - 56px)
}

.mainContent___vvQdb .layoutContent___NvxZ_ {
    flex: 1 1;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: var(--nav-layout)
}

@media (min-width: 600px) {
    .mainContent___vvQdb.busy___Gqbrv {
        height:calc(100% - 36px)
    }

    .layoutContent___NvxZ_ {
        width: auto
    }
}

@keyframes show___BReeN {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}